.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-image: 
  url(
  "https://i.pinimg.com/originals/47/21/e8/4721e82e3fcc5ad6299562c4a728e0fa.jpg");
  background-size: cover;
  background-repeat:no-repeat; 
}


